<div class='container-fluid' style="background-color: black;">  
  <div class='col-8'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="https://www.placecage.com/640/360" alt="Pic 1" width="650" height="400" style="margin-left: 130px;">  
              <div class="carousel-caption">  
                  <h3 style="color: rgb(228, 15, 164)">Image1</h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="https://picsum.photos/seed/picsum/200/300" alt="Pic 2" width="650" height="400"  style="margin-left: 130px;">  
              <div class="carousel-caption">  
                  <h3 style="color: rgb(228, 15, 164)low">Image2</h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide style="width: 500px; height: 400px;">  
              <img src="https://www.fillmurray.com/640/360" alt="Pic 3" width="650" height="400"  style="margin-left: 130px;">  
              <div class="carousel-caption">  
                  <h3 style="color: rgb(228, 15, 164)">Image3</h3>  
              </div>  
          </ng-template>  
         
      </ngb-carousel>  
  </div>  

</div> 